.AddButton {
  width: 250px;
  height: 250px;
  padding: 0;
  background-color: white;
  border: none;
  border-radius: 50%;
  box-shadow: 5px 5px 20px #c9c9c9; 
}

.ButtonImage {
  height: 75%;
  width: 75%;
}