.ModalContainer {
  display: flex;
  justify-content: center;
}

.Backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 9;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.CreateModal {
  height: 80%;
  width: 80%;
  background-color: rgba(255, 255, 255, 1);
  position: fixed;
  z-index: 10;
  margin-top: 50px;
  border-radius: 1%;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
}

.ExitContainer {
  display: flex;
  justify-content: flex-end;
}

.Exit {
  border: none;
  background-color: white;
  margin: 15px;
  font-size: 2em;
  font-weight: 700;
  font-family: 'Quicksand', sans-serif;
  line-height: 25px;
}

.Heading {
  font-size: 5em;
  font-weight: 300;
  margin: 0 0 30px 30px;
  text-align: left;
}

.TitleInput {
  height: 50px;
  margin: 0 30px 15px 30px;
  box-sizing: border-box;
  left: 0;
  right: 0;
}

.DescriptionInput {
  height: 150px;
  margin: 0 30px 15px 30px;
  box-sizing: border-box;
  left: 0;
  right: 0;
}

.SaveButtonContainer {
  display: flex;
  justify-content: center;
}

.SaveButton {
  width: 100px;
  height: 80px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px #c9c9c9; 
  background-color: #f9f9f9;
  border: 1px #c9c9c9;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 2em;
  margin: 30px 0;
}