.App {
  display: flex;
  flex-flow: column;
  height: 100%;
  text-align: center;
}

.AppBody {
  background-color: #f9f9f9;
  flex-grow: 1;
  font-size: large;
  margin: 0;
  padding: 30px;
  justify-content: center;
}
