.Heading {
  font-size: 5em;
  font-weight: 300;
  margin: 0 0 30px 30px;
  text-align: left;
}

.TitleInput {
  height: 50px;
  margin: 0 30px 15px 30px;
  box-sizing: border-box;
  left: 0;
  right: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
  background-color: white;
  border: 1px solid #c9c9c9;
}

.DescriptionInput {
  height: 150px;
  margin: 0 30px 15px 30px;
  box-sizing: border-box;
  left: 0;
  right: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
  word-wrap: break-word;
  border: 1px solid #c9c9c9;
}